<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.sound_detection_app">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.USE_SIP" />


    <application
        android:name="org.abtollc.sdk.AbtoApplication"
        android:label="sound_detection_app"
        android:icon="@mipmap/ic_launcher"
        >

        <!-- Your existing application setup -->

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">

            <!-- Intent filter for the main launcher activity -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

            <!-- Flutter theme meta-data -->
            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme" />
        </activity>

        <!-- Meta-data for Flutter embedding -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />

        <!-- Meta-data for the API key -->
        <meta-data
            android:name="com.huawei.hms.client.appid"
            android:value="DQEDANAD6nkfJGf/Z0K2k9ZVDg1FfjlJ52Txhtc0vYrqGGvkSCkqnxN/sSEkaFkQoIJEqYAw24Xsls5lUdrJQ0gjOcieino8Cnoreg==" />

    </application>

    <!-- Permission queries for specific Android features -->
    <queries>
        <!-- Query for text processing activities -->
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>
</manifest>
